.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  .product-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border-radius: 5px;
    border: 1px solid rgb(3, 3, 3);
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      align-self: center;
    }
  }
}
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  /* box-shadow: 1px 1px 4px rgb(255, 136, 17); */
}
.cart-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 4px rgb(246, 220, 194);
  img {
    width: 80px;
    height: 100%;
    object-fit: contain;
  }
}
.modifier {
  display: flex;
  align-items: center;
  background-color: #328616;
  color: white;
  font-weight: 500;
  justify-self: center;
  border-radius: 4px;
  button {
    padding: 4px 12px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
  }
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #92af88;
}
.box {
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
}
